/* General styles */
* {
    font-family: "Kode Mono", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border-radius: 0;
}

form input {
    border-radius: 0;
}

.app-container {
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 100%;
    height: 100vh;
    padding: 0.5rem;
    gap: 0.5rem;
}

.app-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 0.5rem;
}

.app-title {
    color: light-dark(#073642, #1cc6f1);
}

/* KimapExplorer styles */
.explorer-container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.5rem;
    background: light-dark(#eee8d5, #073642);
}

.search-container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 0.25rem;
    padding: 0.5rem;
}

.search-container form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.25rem;
}

/* TreeContainer styles */
.tree-container {
    padding: 0.5rem;
    background: light-dark(#fdf6e3, #073642);
    overflow-y: auto;
}

/* NodeElement styles */
.node-header {
    padding: 0.25rem;
    cursor: pointer;
    background: light-dark(#eee8d5, #073642);
}

.node-header:hover {
    background: light-dark(#93a1a1, #002b36);
}

.node-name {
    margin-left: 1em;
    color: light-dark(#073642, #1cc6f1);
    font-weight: bold;
}

.node-info {
    margin-left: 1em;
    color: light-dark(#657b83, #a7e2f1);
    font-size: 0.9em;
}

.arrow {
    width: 0;
    height: 0;
    display: inline-block;
    border-left: 8px solid light-dark(#586e75, #a7e2f1);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    margin-left: 8px;
    margin-top: 5px;
    transition: transform 0.3s ease;
}

.arrow-hidden {
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-left: 8px;
}

.arrow.expanded {
    transform: rotate(90deg);
}

.info-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
}

.content {
    display: grid;
    gap: 0.25rem;
    margin-left: 1rem;
    border-left: 1px solid light-dark(#93a1a1, #a7e2f1);
}

.child-nodes,
.data-keys {
    display: grid;
    gap: 0.25rem;
}

.data-keys {
    margin-left: 30px;
}

.data-key {
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 0.25rem;
    background: light-dark(#eee8d5, #073642);
}

/* InfoContainer styles */
.info-container {
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
    max-width: 600px;
    margin-left: 30px;
}

.note-input-container {
    display: grid;
    gap: 1rem;
}

.note-input {
    width: 100%;
    padding: 0.25rem;
    border: 1px solid light-dark(#93a1a1, #586e75);
    background: light-dark(#fdf6e3, #073642);
    color: light-dark(#073642, #1cc6f1);
}

.add-note-button {
    width: 100%;
    background: light-dark(#268bd2, #1cc6f1);
    color: light-dark(#fdf6e3, #073642);
    border: none;
    padding: 0.25rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.add-note-button:hover {
    background: #2aa198;
}

.add-note-button.loading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    animation: loading 1s infinite;
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.pagination {
    padding: 0.25rem;
}